$('#comment-<%= @comment.id %>-not-approved').append('<br /><span class="label label-important">Comment deleted.</span>').delay(3000).fadeOut(500);
$('#comment-<%= @comment.id %>-not-approved span.comment-options').hide();