<% provide(:title, 'Post List') %>
<div class="heading">
  <h1 class="pull-left">Post List</h1>
  <%= if current_user then link_to 'New Post', new_post_path, class: 'btn btn-primary pull-right' end %>
</div>
<div class="clear"></div><br />
  <%= render @posts %>
  <%= will_paginate @posts %>
<div class="form-actions">
</div>

